<p>
  <b>Text:</b>
  <%=h @nada.text %>
</p>

<!--
<p>
  <b>Image filename:</b>
  <%=h @nada.image_filename %>
</p>

<p>
  <b>Image url:</b>
  <%=h @nada.image_url %>
</p>

<p>
  <b>Link tag:</b>
  <%=h @nada.link_tag %>
</p>
-->

<p>
  <% form_for(@vote) do |f| %>
    <%= hidden_field(:nada_id, @nada.id) %>
    <%= submit_tag("I miss this.") %>
  <% end %>
</p>


<!--<%= link_to 'Edit', edit_nada_path(@nada) %> |-->
<%= link_to 'See all Nadas', nadas_path %>
